@model Homie.Areas.Battletech.Models.BTMechsModel

@{
    ViewBag.Title = "Добавить Мех";

}

<style>
    .text-input-width {
        width: 328px;
    }

    .number-input-width {
        width: 80px;
    }
</style>

<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control text-input-width" />
    </div>
    <div class="form-group">
        <label asp-for="Tonnage" class="control-label">Вес (тонн)</label>
        <input type="text" asp-for="Tonnage" class="form-control text-input-width" />
    </div>
    <div class="form-group">
        <label asp-for="Bv" class="control-label">BV</label>
        <input type="text" asp-for="Bv" class="form-control text-input-width" />
    </div>
    <div class="form-group">
        <label asp-for="TypeMech" class="control-label">Тип Меха</label>        
        <select asp-for="TypeMech" asp-items="Html.GetEnumSelectList<BTMechsModel.TypeMechEnum>()" class="form-control text-input-width">
            <option selected="selected" value="">Выберите..</option>
        </select>
    </div>


    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Home" asp-area="Battletech"
           class="btn btn-primary"
           role="button">Назад</a>
    </div>
</form>
