<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script src="~/js/a076d05399.js"></script>
</head>

<body>
    <!-- Page Content -->
    <div class="w3-main">

        <div class="w3-indigo">            
            <div class="w3-container w3-indigo">
                <h1>@ViewBag.HeaderTitle</h1>
            </div>
        </div>
        <p></p>

        <div class="w3-container">
            @RenderBody()
        </div>        
    </div>

</body>
</html>
