<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script src="~/js/a076d05399.js"></script>
</head>

<body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left w3-indigo" style="width:200px;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large w3-hide-large w3-hover-white" onclick="w3_close()">&times;</button>

        <a asp-area="" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button w3-hover-white">
            <i class="fa fa-fw fa-lg fa-home"></i>&nbsp; Домой
        </a>

        <button class="w3-button w3-block w3-left-align w3-hover-white" onclick="myAccSeriesFunc()">
            <i class="fa fa-film fa-fw fa-lg"></i>&nbsp; Сериалы <i class="fa fa-caret-down"></i>
        </button>
        <div id="seriesAcc" class="w3-hide w3-light-gray w3-card">
            <a asp-area="Series" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button w3-hover-white">
                <i class="fa fa-video fa-fw" aria-hidden="true"></i>&nbsp; Список
            </a>

            <a asp-area="Series" asp-controller="Home" asp-action="ArchMovies" class="w3-bar-item w3-button w3-hover-white">
                <i class="fa fa-fast-backward fa-fw" aria-hidden="true"></i>&nbsp; Архив
            </a>
        </div>

        <a asp-area="Cigars" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button w3-hover-white">
            <i class="fas fa-joint fa-lg"></i>&nbsp; Сигары
        </a>

        <button class="w3-button w3-block w3-left-align w3-hover-white" onclick="myAccAdminFunc()">
            <i class="fa fa-users-cog fa-fw fa-lg"></i>&nbsp; Админ <i class="fa fa-caret-down"></i>
        </button>
        <div id="adminAcc" class="w3-hide w3-light-gray w3-card">
            <a asp-area="Identity" asp-controller="Users" asp-action="Index" class="w3-bar-item w3-button w3-hover-white">
                <i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Пользователи
            </a>

            <a asp-area="Identity" asp-controller="Roles" asp-action="Index" class="w3-bar-item w3-button w3-hover-white">
                <i class="fa fa-user-shield fa-fw" aria-hidden="true"></i>&nbsp; Роли
            </a>
        </div>

        <a method="post" asp-area="Identity" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button w3-hover-white"><i class="fas fa-sign-in-alt fa-lg"></i>&nbsp; Выход</a>
    </div>

    <!-- Page Content -->
    <div class="w3-main" style="margin-left:200px">

        <div class="w3-indigo">
            <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
            <div class="w3-container w3-indigo">
                <h1>Homie @ViewBag.HeaderTitle</h1>
            </div>
        </div>
        <p></p>

        <div class="w3-container">
            @RenderBody()
        </div>

        <script>

            function myAccSeriesFunc() {
                var x = document.getElementById("seriesAcc");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                    x.previousElementSibling.className += " w3-white";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                    x.previousElementSibling.className =
                        x.previousElementSibling.className.replace(" w3-white", "");
                }
            }

            function myAccAdminFunc() {
                var y = document.getElementById("adminAcc");
                if (y.className.indexOf("w3-show") == -1) {
                    y.className += " w3-show";
                    y.previousElementSibling.className += " w3-white";
                } else {
                    y.className = y.className.replace(" w3-show", "");
                    y.previousElementSibling.className =
                        y.previousElementSibling.className.replace(" w3-white", "");
                }
            }

            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";

            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
            }
        </script>
    </div>



</body>
</html>
