@model Homie.Areas.Series.Models.MoviesModel

@{
    ViewBag.Title = "Добавить";    
}

<style>
    .text-input-width {
        width: 328px;
    }

    .number-input-width {
        width: 80px;
    }
</style>

<form asp-action="CreateIntoMovies" asp-controller="Serie">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control text-input-width" />
    </div>
    <div class="form-group">
        <label asp-for="Link" class="control-label">Ссылка</label>
        <input type="text" asp-for="Link" class="form-control text-input-width" />
    </div>
    <div class="form-group">
        <label asp-for="Category" class="control-label">Категория</label>
        <input type="text" asp-for="Category" class="form-control text-input-width" />
    </div>
    <div class="form-group">
        <label asp-for="Season" class="control-label">Сезон</label>
        <input type="number" asp-for="Season" class="form-control number-input-width" />
    </div>
    <div class="form-group">
        <label asp-for="Episode" class="control-label">Серия</label>
        <input type="number" asp-for="Episode" class="form-control number-input-width" />
    </div>

    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Serie" asp-area="Series"
           class="btn btn-primary"
           role="button">Назад</a>
    </div>
</form>

<form asp-action="CreateImgSerieIntoMovies" asp-controller="Serie" asp-area="Series" method="post" enctype="multipart/form-data">
    <fieldset style="width:328px">

        <div class="form-group">
            <input name="tempName" type="hidden" id="tempName" />
            <input name="tempTonnage" type="hidden" id="tempTonnage" />
            <input name="tempBV" type="hidden" id="tempBV" />
            <input name="tempTypeMech" type="hidden" id="tempTypeMech" />
        </div>

        <div class="form-group">
            @if (ViewBag.temp_PicAdd != null)
            {
                <label>Изображение: Добавлено</label>
            }
            else
            {
                <label>Изображение: </label>
            }

            <input name="AvatarFile" type="file" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить картинку" class="btn btn-success" />
        </div>
    </fieldset>
</form>
